*{margin: 0;padding: 0}

#head{
	width: 1000px;
	height: 45px;
	margin: 0 auto;
}
#head ul li{
	list-style-type: none;
	float: left;
	padding: 5px;
	background-color: #CCC;
	display: block;
	width: 80px;
	height: 45px;
	line-height: 45px;
	font-size: 35px;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition:0.5s all;
}
#head ul li:hover{
	color: black;
	background-color: #E8E8E8;
}